*{
    color: blue;
}


p, span {
    color: red;
    width: 300px;
} 
/**
este es un comentario en  un documento css
*/
h1 {
    border: 2px solid black;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    /**padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 20px;*/
    padding: 30px 15px 25px 20px;
    font-weight: bold;
    color: grey;
}

 section{ 
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }

  #mi_parrafo {
    color: aqua;
    font-size: 23px;
    border: 2px solid orange;
  }

  .estaesmiclase {
    font-size: bold;
    color: lightblue;
  }

  /**
  section h1 {
    font-size: 400px;
  }*/